/target
/*/target
/cupenya-root-war/*/target
/project/project/target/*
*.iml
.idea
.project
/*/.project
.classpath
/*/.classpath
.settings
/*/.settings
cupenya-root
*-db.h2.db
*-db.lock.db
Thumbs.db
*.sublime-project
*.sublime-workspace
